{
  "linters": {
    "*.js": [
      "prettier --write",
      "eslint --fix",
      "git add"
    ],
    "*.json": [
      "prettier --write",
      "git add"
    ],
    "*.ts": [
      "tslint --fix",
      "prettier --write",
      "git add"
    ],
    "*.tsx": [
      "tslint --fix",
      "prettier --write",
      "git add"
    ]
  }
}